:root {
    --burgerItem-color: #000;
    --burgerItem-color-when-menu-opened: #fff;
}

.burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: var(--index-burger);
    width: 2.5rem;
    height: 1.875rem;
    cursor: pointer;
}

.burger__item {
    min-width: 100%;
    height: 4px;
    background-color: var(--burgerItem-color);
    border-radius: .437rem;
}

@media (min-width: 550px) {
    .burger {
        display: none;
    }
}

.burger__item-color-when-menu-opened {
    background-color: var(--burgerItem-color-when-menu-opened);
}