:root {
    --bgColor-frontSide: rgb(27 34 130);
    --bgColor-backSide: #252525;
}

.card {
    position: relative;
    width: 15.625rem;
    aspect-ratio: 16 / 22;
    perspective: 1000px;
    touch-action: manipulation;
}

.card__front,
.card__back {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    color: #fff;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 1em;
    overflow: hidden;
}

.card__front {
    position: relative;
    height: 100%;
    background-color: var(--bgColor-frontSide);
}

.card__front-image {
    position: absolute;
    inset: 0;
    width: 100%;
    aspect-ratio: 16 / 22;
    border-radius: 1em;
}

.card__back {
    transform: rotateY(180deg);
    background-color: var(--bgColor-backSide);
}

@media (any-hover: hover) {

    .card:hover .card__front {
        transform: rotateY(180deg);
    }

    .card:hover .card__back {
        transform: rotateY(360deg);
    }
}

/* Для симуляции клика на мобилке.
Не хотелось городить js для такого маленького действия */
.card:hover .card__front {
    transform: rotateY(180deg);
}

.card:hover .card__back {
    transform: rotateY(360deg);
}