.footer {
    color: #fff;
    background-color: var(--color-blackColor);
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 53px 0;
    padding: clamp(1.25rem, 3.680vw, 3.3125rem);
}

@media (max-width: 400px) {
    .footer__box {
        flex-direction: column;
        justify-content: center;
        gap: 1.875rem;
    }
}

.social__list {
    display: flex;
    gap: 22px;
}

.social__list-link img {
    width: clamp(2rem, 2.777vw, 2.5rem);
    aspect-ratio: 1;
    transition: .3s;
}

@media (any-hover: hover) {
    .social__list-link:hover img {
        transform: scale(1.1);
    }
}