.menu {
    transition: .2s;
}

.menu-list {
    display: flex;
    gap: clamp(1.875rem, 3.859vw, 2.75rem);
}

.menu-list__link {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.2rem, 1.754vw, 1.25rem);
    line-height: 100%;
    font-weight: 700;
    padding-bottom: 3px;
}

.menu-list__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0%;
    height: 0.3em;
    background-color: var(--color-yellowColor);
    transition: .3s;
}

@media (any-hover: hover) {
    .menu-list__link:hover::before {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .menu {
        position: absolute;
        z-index: var(--index-navigationMenu);
        background-color: rgba(0, 0, 0, .9);
        color: #fff;
        top: -100%;
        left: 0;
        right: 0;
        padding: 60px 30px 15px 30px;
        display: grid;
        place-items: center;
        align-items: flex-start;
    }

    .menu-list {
        flex-direction: column;
    }

    .menu-list__link {
        letter-spacing: 5px;
    }
}

.opened {
    top: 0;
}