.slider-wrapper {
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-bottom: clamp(1.875rem, 7.638vw, 6.875rem);
}

.slide-box {
    position: relative;
    max-width: 100%;
    aspect-ratio: 16 / 9;
}

.slide-box__slide {
    width: 100%;
    border-radius: 10px;
}

.slide-info__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.125rem;
    color: #fff;
    padding-left: 13%;
    padding-top: clamp(0.625rem, 1.388vw, 1.25rem);
    padding-bottom: clamp(0.625rem, 1.388vw, 1.25rem);
    backdrop-filter: blur(5px);
    background-color: rgba(37, 37, 37, 0.5);
}

.slider-thumbs {
    display: flex;
    height: 150px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: clamp(0.625rem, 1.388vw, 1.25rem);
    cursor: pointer;
}

@media (max-width: 765px) {
    .slider-thumbs {
        height: 80px;
    }
}

.slider-thumbs__thumb {
    flex: 0 0 20%;
    scroll-snap-align: center;
}

.slider-thumbs__thumb-image {
    width: 100%;
    border-radius: 5px;
    opacity: .6;
}

.active-thumb {
    opacity: 1;
}

.slider__buttons {
    position: absolute;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: space-between;
    inset: 0;
    width: 100%;
}

.slider__buttons-button {
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color .3s;
}

@media(any-hover: hover) {
    .slider__buttons-button:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.button-prev {
    border-top-left-radius: 10px;
    border-bottom-left-radius: var(--borderRadius);
}

.button-next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: var(--borderRadius);
}

.slider-button__icon {
    width: 40px;
}