.animation {
    padding-top: clamp(3.125rem, 6.944vw, 6.25rem);
    padding-bottom: clamp(3.125rem, 6.944vw, 6.25rem);
}

.animation-container {
    display: flex;
    gap: 1.875rem;
}

@media(max-width: 560px) {
    .animation-container {
        flex-direction: column;
    }
}

.animation-container__left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 1.25rem;
}

.animation-container__left-title {
    font-size: clamp(1.875rem, 2.777vw, 2.5rem);
    font-weight: 900;
    line-height: 110%;
}

.animation-container__left-text {
    font-size: clamp(1rem, 1.666vw, 1.5rem);
}

.animation-container__right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}