.myself {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.myself__box {
    display: flex;
    align-items: flex-start;
    gap: 23px;
}

@media (max-width: 630px) {
    .myself__box {
        flex-direction: column;
        align-items: center;
    }
}

.myself-box__photo {
    width: clamp(18.75rem, 25.486vw, 22.937rem);
    height: 93.7%;
}

@media (max-width: 375px) {
    .myself-box__photo {
        max-width: 100%;
    }
}

.myself-box__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 630px) {
    .myself-box__content {
        align-items: center;
        text-align: center;
    }
}

.myself-box__content-initials {
    font-size: clamp(1.875rem, 2.777vw, 2.5rem);
    font-weight: 900;
    line-height: 110%;
}

.myself-box__content-initials span {
    color: var(--color-yellowColor);
}

.myself-box__content-text,
.myself-box__content-offer {
    font-size: clamp(1rem, 1.666vw, 1.5rem);
}

.myself-box__content-offer a {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
}