.comments-module {
    max-width: 946px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.25rem;
}

@media (max-width: 767px) {
    .comments-module {
        grid-template-columns: 1fr;
    }
}

.comments-module__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

@media (max-width: 767px) {
    .comments-module__form-wrapper {
        width: 70%;
    }
}

@media (max-width: 424px) {
    .comments-module__form-wrapper {
        width: 100%;
    }
}

.comments-form {
    position: relative;
    aspect-ratio: 16 / 6;
    box-shadow: 1px 2px 19px 4px rgba(34, 60, 80, 0.2);
    border-radius: .9375rem;
}

.comments-form__input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    padding: 1.25rem 0 0 1.25rem;
    color: #000;
    outline: none;
}

.comments-form__field {
    padding: 53px 1.25rem 1.25rem 1.25rem;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: .9375rem;
    color: rgba(37, 37, 37, .7);
    outline: none;
}

.comments-form__field:focus {
    outline: 2px solid rgba(37, 37, 37, .2);
}

.comments-form__field::placeholder {
    color: rgba(37, 37, 37, .4);
}

.comments-form__button {
    font-size: 1rem;
    font-size: clamp(.812rem, 1.111vw, 1rem);
    letter-spacing: .2em;
    max-width: max-content;
    padding: 1em;
    border-radius: .7rem;
    color: #fff;
    background-color: #5a189a;
    transition: .3s;
}

@media (any-hover: hover) {
    .comments-form__button:hover {
        opacity: .8;
    }
}

.comments-module__content-title {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1.875rem;
}


.comments-list {
    max-height: 200px;
    overflow-y: auto;
}

.comments-list__item {
    display: grid;
    grid-template-columns: 3.75rem 1fr;
    gap: 1.25rem;
}

.comments-list__item:not(:last-child) {
    margin-bottom: 1.875rem;
}

.comments-list__item-avatar {
    width: 100%;
    aspect-ratio: 1;
}

.comments-list__item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .625rem;
}

.comments-list__item-info_text {
    font-size: 1.25rem;
}

.comments-list__item-info_subtext {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}