body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 .937rem;
}

.logo {
    position: relative;
    z-index: var(--index-logo);
    width: clamp(3.75rem, 8.114vw, 6.25rem);
    height: 77%;
}