*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

button,
a {
    cursor: pointer;
}

button {
    background-color: transparent;

}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input {
    border: none;
    background-color: transparent;
}

textarea {
    resize: none;
}